# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
.vs/
*.sln
bin/
Debug
*.vcxproj
*.filters
*.user
test/Debug
test/**/*.sln
test/**/*.vcxproj
test/**/*.filters
test/**/*.user
test/**/*.tlog
test/**/*.idb
test/**/*.pdb

# Engine
*.log

# Misc
packages.config
packages